@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {

    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;

}

body {

    margin: auto;
    width: 81.25%;
    max-width: 73.125rem;
    border: 5px solid #FF5400;

}


.container {
    display: flex;
    padding: 41px;
    auto;
    border: 5px solid #FF5400;
    justify-content: space-between;
    align-items: center;
}




.nav-sac ul {
    display: flex;
    border: 5px solid #FF5400;
    gap: 10px;
    list-style-type: none;

}

.banner {
    text-align: center;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    color: #FFF;

}

.banner-section {

    padding-top: 60px;
    font-size: 3.3rem;
    font-weight: 800;
    /* border: 5px solid red; */
}

.banner-section p {

    font-size: 16px;/1rem=16px max-width: 1170px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 26px;
    margin-bottom: 48px;
    padding: 0 200px;

}

.banner-form {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    /* background: rgba(255, 255, 255, 0.30); */
    border: 5px solid red
}




.form {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    width: 48rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);

}

input,
select {
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #FFF;
    border: none;

}

.primary-btn {
    font-size: 16px;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
}

/* parent div */

.sec-continer {
    max-width: 100%;
    background: #FFF;
    margin-top: 90px;
border: 5px solid rgb(37, 1, 1);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.text {

    font-family: Mulish;
    font-style: normal;
    line-height: normal;


}

.text>h2 {
    font-size: 30px;
    font-weight: 800;

}

.text>ul {
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding-left: 20px;
    padding-top: 20px;
}

.text>p {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding-top: 20px;
}

.text  .primary-btn {
    margin: 40px 0px;
    font-size: 20px;
  
}

/* section pard 2 */

.section-continer2{
border: 5px solid rgb(57, 191, 175);
width: 100%;
text-align: center;
}



.section-continer2>p{

padding-top: 18px;
padding-bottom: 40px;

}



.section-continer2>h2{

    padding-top: 80px;
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.section-continer2 img{
    border: 5px solid rgb(228, 98, 18);
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

}
.container-img {

    justify-content: space-between;
    align-items: center;
}
.row {
    position: relative;
    display: flex;
    position: relative;
    gap: 10px;
}

.row-text1 {
    position: absolute;
    top: 42%;
    left: 20%;
}


.row-text2{
        position: absolute;
        top: 42%;
        left: 70%;
 }
 .row-text3{
    position: absolute;
    top: 42%;
    left: 10%;
}
 .row-text4{
    position: absolute;
    top: 42%;
    left: 45%;
    }

